venv/
.venv

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

media

.env.*
.env
!.env.example
!.env.docker.example

logs

.vscode/*
!.vscode/settings.shared.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*